

html{
  color: wheat
}
body{
  margin: 0px auto;
  width: 480px;
  text-align: center;
}

.grids{
  display: grid;
  grid-template-columns: 240px 240px;
  grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
}

.grid-a {
  background-color:#000000;
  line-height: 75px;
  grid-column: span 2 / 3;
  grid-row: 1;
}

.grid-b {
  background-color:#0a0236;
  line-height: 150px;
  grid-column: span 2 / 3;
  grid-row: 2;
}

.grid-c {
  background-color: #0e0250;
  line-height: 125px;
  grid-column: span 2 / 3;
  grid-row: 3;

}
.grid-d {
  background-color: #0f0355;
  line-height: 125px;
  grid-column: span 2 / 3;
  grid-row: 4;
}
.grid-e {
  line-height: 250px;
  background-color: #1a0494;
  grid-column: 1;
  grid-row: 5;
}
.grid-f {
  line-height: 250px;
  background-color: #170485;
  grid-column: 2;
  grid-row: 5;
}
.grid-g {
  line-height: 250px;
  background-color: #2106bb;
  grid-column: 1;
  grid-row: 6;
}
.grid-h {
  line-height: 250px;
  background-color: #3514ec;
  grid-column: 2;
  grid-row: 6;
}
.grid-i {
  line-height: 80px;
  background-color: #4e2ffc;
  grid-column: span 2 / 3;
  grid-row: 7;
}




/* @media (min-width: 768px){
  body{
    width: 768px;
  }
  .grids{
    grid-template-columns: 384px 384px;
  }
} */


@media (min-width: 960px){
  body{
    width: 960px;
    margin: 0px auto;
    text-align: center;
  }
.grids{
    display: grid;
    grid-template-columns: 200px 190px 190px 190px 190px;
    grid-template-rows: 100px 200px 250px 150px;
  }

.grid-a {
  background-color:#91ff00;
  line-height: 100px;
  grid-column: span 5 / 6;
  grid-row: 1;
}

.grid-b {
  background-color:#2b0aeb;
  line-height: 600px;
  grid-row: span 3 / 5;
  grid-column: 1;
}

.grid-c {
  background-color: #69941a;
  line-height: 200px;
  grid-column: span 2 / 4;
  grid-row: 2;
}
.grid-d {
  background-color: #e40bd9;
  line-height: 200px;
  grid-column: span 2 / 6;
  grid-row: 2;
}
.grid-e {
  line-height: 250px;
  background-color: #1a0494;
  grid-column: 2;
  grid-row: 3;
}
.grid-f {
  line-height: 250px;
  background-color: #f10914;
  grid-column: 3;
  grid-row: 3;
}
.grid-g {
  line-height: 250px;
  background-color: #b6e60a;
  grid-column: 4;
  grid-row: 3;
}
.grid-h {
  line-height: 250px;
  background-color: #3514ec;
  grid-column: 5;
  grid-row: 3;
}
.grid-i {
  line-height: 150px;
  background-color: #ddc55a;
  grid-column: span 4 / 6;
  grid-row-start: 4;
  }
}




























