
.container {
  width: 500px;
  color: black;
  margin: 0 auto;
} 
.grid-a {
  height: 75px;
  width: auto;
  line-height: 75px;
  background-color:#383a39;
}
.grid-b {
  width: auto;
  height: 150px;
  line-height: 150px;
  background-color: rgb(112, 108, 107);
}
#grid-c {
  width: auto;
  height: 125px;
  line-height: 125px;
  background-color:#999795;
}
#dgrid- {
  width: auto;
  height: 125px;
  line-height: 125px;
  background-color: #b2b4b1a6;
}
#grid-e {
  height: 240px;
  width: 250px;  line-height: 240px;
  background-color: rgba(199, 175, 167, 0.404);
  float: left;
}
#grid-f {
  height: 240px;
  width: 250px;
  line-height: 240px;
  background-color: rgba(78, 77, 76, 0.411);
  float: right;
}
#grid-g {
  height: 240px;
  width: 250px;
  line-height: 240px;
  background-color: rgb(251, 155, 0);
  float: left;
}
#grid-h {
  height: 240px;
  width: 250px;
  line-height: 240px;
  background-color: #f5bd23;
  float: right;
} 

footer {
  clear: both;
  height: 80px;
  width: 500px;
  line-height: 80px;
  background-color: rgb(136, 88, 0);
  color: whitesmoke;
  margin: 0 auto;
  bottom: 0;

}  

@media (min-width: 960px) {
  /* * {
  font-family: monospace;
  text-align: center;
  }
} */
.container {
  width: 960px;
  /* color: rgb(0, 0, 0); */
} 
.grid-a {
  height: 100px;
  width: auto;
  line-height: 100px;
  background-color:rgb(251, 255, 0);
}
.grid-b{
  width: 200px;
  height: 600px;
  line-height: 600px;
  background-color: #115943;
  float: left;
}
.grid-c {
  width: 380px;
  height: 200px;
  line-height: 200px;
  float: left;
  background-color: #8D2911
}
.grid-d {
  width: 380px;
  height: 200px;
  line-height: 200px;
  float: left;
  background-color: #735911;
}
.grid-e {
  height: 250px;
  width: 190px;
  line-height: 190px;
  background-color: #345421;
  float: left;
  }
.grid-f {
  height: 250px;
  width: 190px;
  line-height: 190px;
  background-color: #985909;
  float: left;
}
.grid-g {
  height: 250px;
  width: 190px;
  line-height: 190px;
  background-color: rgb(102, 48, 25);
  float: left;
}
.grid-h {
  height: 250px;
  width: 190px;
  line-height: 190px;
  background-color: #D08812;
  float: left;
}
footer {
  clear: none;
  height: 150px;
  width: 760px;
  line-height: 150px;
  background-color: #60160E;
  float: left;
  color: black;
  margin: 0 auto;
  }